body {
  margin-left: 200px;
  background: #5d9ab2 url("img_tree.png") no-repeat top left;

}

.center_div {
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #88bfd8;
  text-align: left;
  padding: 8px;
}